<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	 <head th:replace="fragments/fragment-header :: head">
	 	 	<title>Notif</title>
	 
	 </head>
<body>
	 	<div th:replace="fragments/fragment-header :: navigation"></div>

    <center><p th:text="'Status Peminjaman berhasil diubah'">Konfirmasi Persetujuan</p></center>
    <center>
		<td th:if="${peminjaman_ruangan.isDisetujui}==1">Permintaa di Setujui</td>
		<td th:if="${peminjaman_ruangan.isDisetujui}==2">Permintaa di Tolak</td>
    </center>
	 <div th:replace="fragments/fragment :: footer"></div>
</body>
</html>