<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	  <head th:replace="fragments/fragment-header :: head">
	 	<title>Ruang</title>
	 </head>
	 <body>
		<div th:replace="fragments/fragment-header :: navigation"></div>
	 	<h1>Tambah Ruangan</h1>
	 	<form action="/ruang/tambah/submit" method="get">
	       	<table border="1" class="table table-striped table-bordered">
			<tbody>
				<tr>
					<td style="padding-right:10px;"><label for="nama">Nama Ruangan</label></td>
					<td><input style="width:100%;" type="text" required="true" name="nama" /></td>
				</tr>
				<tr>
					<td style="padding-right:10px;"><label for="kapasitas">Kapasitas</label></td>
					<td><input style="width:100%;" type="text" required="true" name="kapasitas" /></td>
				</tr>
			</tbody>
			</table>
	    	
	    		<div>
					<button class="btn btn-danger" type="submit" name="action" value="save">Simpan</button>
				</div>
			</form>
		<div th:replace="fragments/fragment :: footer"></div>
	 </body>
</html>