<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment-header :: head">
    <title>Ruang</title>
</head>
<body>
<div th:replace="fragments/fragment-header :: navigation"></div>
<main role="main" class="container">
    <h1 class="mt-5">Ajukan Peminjaman Ruangan</h1>
    <form action="@{/peminjaman/tambah/submit}" method="POST">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Ruangan</label>
                    <select name="id_ruangan" class="form-control">
                        <option th:each="ruang: ${semuaRuang}" th:value="${ruang.id}" th:text="${ruang.nama}">Ruang</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Waktu Mulai</label>
                    <input class="form-control" type="text" name="waktu_mulai" />
                </div>
                <div class="form-group">
                    <label>Waktu Selesai</label>
                    <input class="form-control" type="text" name="waktu_selesai" />
                </div>
                <div class="form-group">
                    <label>Tanggal Mulai</label>
                    <input class="form-control" type="text" name="tanggal_mulai" />
                </div>
                <div class="form-group">
                    <label>Tanggal Selesai</label>
                    <input class="form-control" type="text" name="tanggal_selesai" />
                </div>
                <div class="form-group">
                    <label>Kapasitas</label>
                    <input class="form-control" type="number" name="kapasitas" />
                </div>
                <div class="form-group">
                    <label>Tujuan</label>
                    <input class="form-control" type="text" name="tujuan" />
                </div>
                <div class="form-group">
                    <label>Keterangan</label>
                    <textarea class="form-control" name="keterangan"></textarea>
                </div>
                <div class="form-group">
                    <label>Jumlah Peserta</label>
                    <input class="form-control" type="number" name="jumlah_peserta" />
                </div>
                <div class="form-group">
                    <label>Fasilitas</label>
                    <textarea class="form-control" name="fasilitas"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit" name="action" value="save">Save</button>
                </div>
            </div>
        </div>
    </form>
</main>
<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>
