<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/fragment-header :: head">
	 	<title>Ruangan</title>
	 </head> 
	 <body>
    <!--  wrapper -->
    <div id="wrapper">
        <div th:replace="fragments/fragment-header :: top_navigation"></div>
        <div th:replace="fragments/fragment-header :: navigation"></div>
        <!--  page-wrapper -->
          <div id="page-wrapper">
            <div class="row">
                 <!-- page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Ubah Ruangan</h1>
                </div>
                <!--end page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" action="/ruang/ubah/submit" method="get" th:object="${ruang}">
										<div class="form-group">
                                            <label>Id Ruangan</label>
                                            <input class="form-control"name="id" readonly="true" th:value="${ruang.id}" th:field="*{id}"/>  
                                        </div>
                                        <div class="form-group">
                                            <label>Nama Ruangan</label>
                                            <input class="form-control" required="true" name="nama" th:value="${ruang.nama}" th:field="*{nama}"/>  
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Kapasitas Ruangan</label>
                                            <input class="form-control"  required="true" name="kapasitas" th:value="${ruang.kapasitas}" th:field="*{kapasitas}"/>
									 </div>
                                        <button type="submit" class="btn btn-primary" name="action" value="save">Simpan</button>
									</form>
                     <!-- End Form Elements -->
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="/assets/plugins/jquery-1.10.2.js"></script>
    <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets/plugins/pace/pace.js"></script>
    <script src="/assets/scripts/siminta.js"></script>

</body>
</html>