<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment-header :: head"></head>
	 <body>
	 <div th:replace="fragments/fragment-header :: navigation"></div>
	 	<h1>Detail Ruangan</h1>
	       	<table border="1" class="table table-striped table-bordered">
			<tbody>
				<tr>
					<td style="padding-right:10px;"><label for="nama">ID Ruangan</label></td>
					<td th:text="${ruang.id}"></td>
				</tr>
				<tr>
					<td style="padding-right:10px;"><label for="nama">Nama Ruangan</label></td>
					<td th:text="${ruang.nama}"></td>
				</tr>
				<tr>
					<td style="padding-right:10px;"><label for="tempat_lahir">Kapasitas</label></td>
					<td th:text="${ruang.kapasitas}"></td>
				</tr>
			</tbody>
			</table>
	    	<div th:replace="fragments/fragment :: footer"></div>
	 </body>
	 
</html>