<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/fragment-header :: head">
	 	<title>Ruangan</title>
	 </head> 
	 <body>
    <!--  wrapper -->
    <div id="wrapper">
        <div th:replace="fragments/fragment-header :: top_navigation"></div>
        <div th:replace="fragments/fragment-header :: navigation"></div>
        <!--  page-wrapper -->
        <div id="page-wrapper">

            <div class="row">
                 <!--  page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Daftar Ruangan</h1>
                </div>
                 <!-- end  page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
							        			<td>NO</td>
							        			<td>ID Ruangan</td>
							        			<td>Nama Ruangan</td>
							        			<td>Kapasitas</td>
							        			<td th:if="${#httpServletRequest.isUserInRole('STAF')}">Aksi</td>
							        		</tr>
                                    </thead>
                                    <tbody>
                                            <tr class="odd gradeX" th:each="ruang,iterationStatus: ${ruangs}">
								        			<td th:text="${iterationStatus.count}"></td>
								        			<td th:text="${ruang.id}"></td>
								        			<td th:text="${ruang.nama}"></td>
								        			<td th:text="${ruang.kapasitas}"></td>
								        			<td th:if="${#httpServletRequest.isUserInRole('STAF')}">
								        				<a th:href="'/ruang/view/'+${ruang.id}">Detail</a> &nbsp &nbsp
									        			<a th:href="'/ruang/update/'+${ruang.id}">Ubah</a> &nbsp &nbsp
									        			<a th:href="'/ruang/delete/'+${ruang.id}">Hapus</a>
								        			</td>
								        		</tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
        
            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="/assets/plugins/jquery-1.10.2.js"></script>
    <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets/plugins/pace/pace.js"></script>
    <script src="/assets/scripts/siminta.js"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>

</body>

</html>
 