<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment-header :: head"></head>
    <body>
    	 <div th:replace="fragments/fragment-header :: navigation"></div>
        <div class="col-md-12">
            <h4 th:text="'Lihat Data Peminjaman Ruang - '+${peminjaman_ruangan.id}"></h4>
            <table>
                <tr>
                    <th>ID</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.id}"></td>
                </tr>
                <tr>
                    <th>NPM Peminjam</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.npm}"></td>
                </tr>
                <tr>
                    <th>Nama Peminjam</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.nama_mahasiswa}"></td>
                </tr>
                <tr>
                    <th>Tujuan</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.tujuan}"></td>
                </tr>
                <tr>
                    <th>Ruangan</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.nama_ruang}"></td>
                </tr>
                <tr>
                    <th>Tanggal Mulai Penggunaan</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.tanggal_mulai}"></td>
                </tr>
                <tr>
                    <th>Tanggal Selesai Penggunaan</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.tanggal_selesai}"></td>
                </tr>
                <tr>
                    <th>Waktu Mulai Penggunaan</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.waktu_mulai}"></td>
                </tr>
				<tr>
                    <th>Waktu Selesai Penggunaan</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.waktu_selesai}"></td>
                </tr>
				<tr>
                    <th>Jumlah Peserta</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.jumlah_peserta}"></td>
                </tr>
                <tr>
                    <th>Fasilitas</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.fasilitas}"></td>
                </tr>
                <tr>
                    <th>Keterangan</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.keterangan}"></td>
                </tr>
                <tr>
                    <th>Status Peminjaman</th>
                    <td style="width: 7%;"></td>
                    <td th:text="${peminjaman_ruangan.is_disetujui}"></td>
                </tr>
           </table>
          
        </div>
        	    	<div th:replace="fragments/fragment :: footer"></div>
    </body>
</html>